Test für einen Link ...<a mat-button href="" bnPrivacy="links" data-src="https://www.waipu.tv/app/uploads/2019/10/1-desktop.jpg">Ein Link</a> in einem Text
<br>

<iframe  bnPrivacy="videos" src="" width="560" height="315"  data-src="https://www.youtube.com/embed/v2q4xJB4zSg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


<br>
<button mat-button (click)="toggle=!toggle">Toggle</button>
<div *ngIf="toggle">
<iframe  bnPrivacy="videos" src="" width="560" height="315"  data-src="https://www.youtube.com/embed/v2q4xJB4zSg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<br>

<img bnPrivacy="images" data-src="https://www.waipu.tv/app/uploads/2019/10/1-desktop.jpg"   src="" width="560" height="315" />
<br><br>
Test für einen Link ...<a mat-button href="" bnPrivacy="links" data-src="https://www.waipu.tv/app/uploads/2019/10/1-desktop.jpg">Ein Link</a> in einem Text


</div>